<div class="center hero-unit">
	<img src="/assets/hp-main.jpg">
<!--
  <h1>Welcome to TeacherBoost!</h1>

  <p>This is the home page for the
    <a href="http://startuptucson.com/code-for-tucson-2013/">Code for Tucson</a>
    TeacherBoost application.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  -->
</div>

<div class="container">
  <h2 id="featured-teachers">Featured Teachers</h2>
  <div id="featured-teachers-list" class="container">
    <div class="teacher-item">
      <a href="/users/1"><img src="/assets/teacher-1.jpg"></a>
      <div><b>Mrs. Hebert</b></div>
      <div>Canyon del Oro High School</div>
      <div>Grade 9, 10</div>
    </div>
    <div class="teacher-item">
      <img src="/assets/teacher-3.jpg">
      <div><b>Ms Smith</b></div>
      <div>Gale Elementary</div>
      <div>Grade 8</div>
    </div>
    <div class="teacher-item">
      <img src="/assets/teacher-2.jpg">
      <div><b>Mr Robinson</b></div>
      <div>Copper Creek High School</div>
      <div>Grade 8</div>
    </div>
    <div class="teacher-item">
      <img src="/assets/teacher-4.jpg">
      <div><b>Mr Johnson</b></div>
      <div>Desert Springs Academy</div>
      <div>Grade 8</div>
    </div>
  </div>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org/" %>