<% provide(:title, 'All teachers') %>
<h1>All teachers</h1>

<%= will_paginate %>

<ul class="users">
  <%# @users.each do |user| %>
    <%#= render 'user', user: user %>
  <%# end %>
  <%= render @users %>
</ul>

<%= will_paginate %>