<div class="profile details">
	<img src="assets/trish_01.jpg"/>
	<h1/>Mrs. Hebert</h1>
	<h2>Teaching at</h2>
	<p>Canyon del Oro High School</p>
	<h2>Credentials</h2>
	<p>BA Mathematics, University of Arizona, 2009</p>
	<h2>Years of Experience</h2>
	<p>4</p>
	<h2>Grade Level</h2>
	<p>9th, 10th</p>
</div>
<div class="content details">
	<h2>My Story</h2>
	<p>Teaching was not my first career.  Teaching was not even my first choice for a second career.  I have friends and relatives who teach, and I saw how few hours they had each day to devote to family while they were at home planning lessons and grading papers.  I saw how little money they earned compared to how much education they had and how much of that pittance was spent on their students and their classrooms.  Being a teacher became a fledgling idea when I returned to college at the age of 40 and found myself frequently engaging in an activity I had been doing since the second grade—helping my classmates make sense of the mathematics they needed to do.  There is an addictive joy that comes from being able to watch someone else’s excitement when he suddenly understands a concept that he had previous thought was completely impossible to comprehend.  None of the other careers I was considering could possibly compare to that amount of personal satisfaction.  During the time I was trying to decide if becoming a teacher was really the right thing to do, one of my own children was diagnosed with multiple learning disabilities including the inability to calculate numbers and quantities.  Trying to help her cope in a world that is now obsessed with every student mastering advanced algebra only increased my need to start helping as many students decipher mathematics as possible.  Teaching math, especially to students who are struggling to make sense of the subject, stopped being merely a career choice and turned into an obsession.</p>
	<p>Math always seemed like fun to me, and I teach my high school Algebra and Geometry classes from that perspective.  It is easier to master any task if it is fun, and fewer students are going to completely give up if they see that the rest of their classmates are enjoying themselves.  My classroom is rarely quiet.  I never felt comfortable with the traditional method of everyone remaining silent and the teacher calling on one student at a time.  If I only call on volunteers, the same several students will want to answer everything.  If I call on a student at random, maybe it will be the only question he knew (or the only question he did not know).  My favorite way to ask questions is when everyone has to answer the same question at the same time (using personal dry-erase boards for example).   This becomes essential with classes of lower-level students.  When the class culture is to wait for anyone who has not answered, children who used to routinely give up would start taking an interest in learning.  When they understood that their teacher and their classmates would wait for them to “get it,” they starting understanding that they could do it.  Most importantly, I truly believe my students learn more when they know that I care about them, not just as math students, but as young adults.</p>
</div>
