
#attribute-column {
	background: #e9e9e9;
	font-size: 12px;
}

.image-placeholder {
	background: #aaa;
	width: 100px;
	height: 100px;
}

.video-placeholder {
	background: #aaa;
	width: 400px;
	height: 250px;
}
