<footer class="footer">
  <small>
    A <a href="http://startuptucson.com/code-for-tucson-2013/">Code for Tucson</a>
    project by Jason Hansen, Michael Patterson, Thomas Williams, Holly Schultz and 
    <a href="http://railstutorial.org">Michael Hartl</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org">News</a></li>-->
    </ul>
  </nav>
</footer>
